{% if product.metafields.custom_fields["p_content_alignment"] != blank %}
  <div class="custom-field custom-field__p-content-alignment custom-field__type--text-list">
    <h3 class="custom-field--title">Content Alignment</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["p_content_alignment"] }}
    </div>
  </div>
{% endif %}