{% if collection.metafields.custom_fields["rt_cta_url"] != blank %}
  <div class="custom-field custom-field__rt-cta-url custom-field__type--url">
    <h3 class="custom-field--title">Cta Url</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["rt_cta_url"] }}
    </div>
  </div>
{% endif %}