{% if collection.metafields.custom_fields["rt_cta_title"] != blank %}
  <div class="custom-field custom-field__rt-cta-title custom-field__type--text">
    <h3 class="custom-field--title">Cta title</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["rt_cta_title"] }}
    </div>
  </div>
{% endif %}