{% if product.metafields.custom_fields["bp_title"] != blank %}
  <div class="custom-field custom-field__bp-title custom-field__type--text">
    <h3 class="custom-field--title">Title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["bp_title"] }}
    </div>
  </div>
{% endif %}