{% if collection.metafields.custom_fields["bp_overlay"] != blank %}
  <div class="custom-field custom-field__bp-overlay custom-field__type--text-list">
    <h3 class="custom-field--title">Overlay</h3>
    <div class="custom-field--value">  
      {{ collection.metafields.custom_fields["bp_overlay"] }}
    </div>
  </div>
{% endif %}