{% if product.metafields.custom_fields["video_default_thumbnail"] != blank %}
  <div class="custom-field custom-field__video-default-thumbnail custom-field__type--image">
    <h3 class="custom-field--title">Video default thumbnail</h3>
    <div class="custom-field--value">  
      {% render 'cf-image' with image: product.metafields.custom_fields["video_default_thumbnail"], print: 'url' %}
    </div>
  </div>
{% endif %}