{% if collection.metafields.custom_fields["bp_eyebrow"] != blank %}
  <div class="custom-field custom-field__bp-eyebrow custom-field__type--text">
    <h3 class="custom-field--title">Eyebrow</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["bp_eyebrow"] }}
    </div>
  </div>
{% endif %}