{% if product.metafields.custom_fields["bp_cta_title"] != blank %}
  <div class="custom-field custom-field__bp-cta-title custom-field__type--text">
    <h3 class="custom-field--title">CTA title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["bp_cta_title"] }}
    </div>
  </div>
{% endif %}