{% if product.metafields.custom_fields["bp_text"] != blank %}
  <div class="custom-field custom-field__bp-text custom-field__type--text">
    <h3 class="custom-field--title">Text</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["bp_text"] }}
    </div>
  </div>
{% endif %}