{% if product.metafields.custom_fields["p_background_color"] != blank %}
  <div class="custom-field custom-field__p-background-color custom-field__type--text-list">
    <h3 class="custom-field--title">Background Color</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["p_background_color"] }}
    </div>
  </div>
{% endif %}