{% if product.metafields.custom_fields["v_enable_module"] != blank %}
  <div class="custom-field custom-field__v-enable-module custom-field__type--checkbox">
    <h3 class="custom-field--title">Enable module</h3>
    <div class="custom-field--value">
      {% if product.metafields.custom_fields["v_enable_module"] == 1 %}
        TRUE
      {% else %}
        FALSE
      {% endif %}
    </div>
  </div>
{% endif %}