{% if product.metafields.custom_fields["ig_eyebrow"] != blank %}
  <div class="custom-field custom-field__ig-eyebrow custom-field__type--text">
    <h3 class="custom-field--title">Eyebrow</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["ig_eyebrow"] }}
    </div>
  </div>
{% endif %}