{% if page.metafields.custom_fields["eyebrow"] != blank %}
  <div class="custom-field custom-field__eyebrow custom-field__type--text">
    <h3 class="custom-field--title">eyebrow</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["eyebrow"] }}
    </div>
  </div>
{% endif %}