<div data-section-id="{{ section.id }}" data-section-type="promo">

  {% comment %}

    Since the promo contains column-like elements with grid-based horozontal padding,
    all you need to do to create a promo with a restricted width is wrap it in a container and row element like this..

    <div class="container">
      <div class="row">
        {% include 'promo-2022' ... %}
      </div>
    </div>
  {% endcomment %}

  {% include 'promo-2022',
              p_id: section.id,
              p_layout: section.settings.layout,
              p_type: 3,
              p_content_max_width: section.settings.content_max_width,
              p_content_alignment: section.settings.content_alignment,
              p_image: section.settings.image,
              p_eyebrow: section.settings.eyebrow,
              p_title: section.settings.title,
              p_text: section.settings.text,
              p_cta_url: section.settings.cta_url,
              p_cta_text: section.settings.cta_text
  %}
</div>

{% schema %}
  {
    "name": "Hero-2022",
	"class": "hero-banner-2022",
    "settings": [
      {
        "type": "range",
        "id":   "content_max_width",
        "min":  300,
        "max":  850,
        "step": 25,
        "unit": "px",
        "label": "Max Content Width",
        "default": 550
      },
      {
        "type":    "select",
        "id":      "content_alignment",
        "label":   "Content Alignment",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" }
        ],
        "default":   "center"
      },
      {
        "type": "text",
        "id": "eyebrow",
        "label": "Eyebrow"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA Link"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Hero-2022",
        "category": "Media",
        "settings": {
          "title": "Promo Title",
          "text": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<\/p>"
        }
      }
    ]
  }
{% endschema %}

<style>
  .hero-promo, 
  .hero-promo .promo__col.promo__col--text,
  .hero-promo .promo__img-wrapper,
  .hero-promo .promo__col.promo__col--image {
    height: 600px;
  }
  .promo__img-wrapper img{
    height: 600px;
  }
  @media screen and (max-width: 767px) {
    .promo__title, .promo__eyebrow, .promo__text > p {
      color: #343433;
    }
  }
   @media screen and (min-width: 768px) {
    .promo__title, .promo__eyebrow, .promo__text > p {
      color: white;
    }
    .promo__eyebrow {
      color: white;
    }
    .promo__text > p {
      font-size: 30px;
    }
  } 
  @media screen and (max-width: 1500px){
    .hero-promo, 
    .hero-promo .promo__col.promo__col--text, 
    .hero-promo .promo__img-wrapper, 
    .hero-promo .promo__col.promo__col--image{
      height: unset;
    }
    .promo__img-wrapper img{
      height: unset;
    }
  }
</style>