<div class="hat-care">
    {% section 'hat-care-hero-banner' %}
    {% section 'rich-text' %}
    {% section 'hat-care-grid' %}
    <div class="hat-care__banner-panel">
        {% section 'hat-care-footer-banner' %}
    </div>
</div>
{% section 'custom-fields-pages' %}
