<div class="layout-content-wrapper">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-8 page-text-only__content">
      {% if page.metafields.custom_fields['eyebrow'] != blank %}
      <div class="page-text-only__eyebrow-container">
        <span class="page-text-only__eyebrow">{{ page.metafields.custom_fields['eyebrow'] }}</span>
      </div>
      {% endif %}
      <h1 class="page-text-only__title">{{ page.title }}</h1>
      <div class="page-text-only__content-container">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<section class="size-guide">
  <div class="container">
    <div class="size-title">
      <h1 style="text-align: center">Hat Size Chart</h1>
    </div>
    <div class="size-guide-table" id="size-guide-1">
      <table>
        <thead>
          <tr>
            <th>HNH-AHM <span>Hat Size</span></th>
            <th>U.S.A <span>Hat Size</span></th>
            <th>Head Measurement (IN)</th>
            <th>Head Measurement (CM)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>XX - SM</td>
            <td>6<sup>1</sup>&frasl;<sub>4</sub></td>
            <td>19- 19<sup>5</sup>&frasl;<sub>8</sub></td>
            <td>50-51</td>
          </tr>
          <tr>
            <td>X-SM</td>
            <td>6 <sup>1</sup>&frasl;<sub>2</sub></td>
            <td>20-20<sup>7</sup>&frasl;<sub>8</sub></td>
            <td>52-53</td>
          </tr>
          <tr>
            <td>SM</td>
            <td>6 <sup>7</sup>&frasl;<sub>8</sub></td>
            <td>21-21<sup>7</sup>&frasl;<sub>8</sub></td>
            <td>54-55</td>
          </tr>
          <tr>
            <td>MD</td>
            <td>7 <sup>1</sup>&frasl;<sub>8</sub></td>
            <td>22-22 <sup>3</sup>&frasl;<sub>4</sub></td>
            <td>56-57</td>
          </tr>
          <tr>
            <td>LG</td>
            <td>7 <sup>3</sup>&frasl;<sub>8</sub></td>
            <td>22 <sup>7</sup>&frasl;<sub>8</sub> - 23 <sup>1</sup>&frasl;<sub>2</sub></td>
            <td>58-59</td>
          </tr>
          <tr>
            <td>XL</td>
            <td>7 <sup>5</sup>&frasl;<sub>8</sub></td>
            <td>23 <sup>5</sup>&frasl;<sub>8</sub> - 24 <sup>1</sup>&frasl;<sub>4</sub></td>
            <td>60-61</td>
          </tr>
          <tr>
            <td>2X</td>
            <td>7 <sup>7</sup>&frasl;<sub>8</sub></td>
            <td>24 <sup>3</sup>&frasl;<sub>8</sub>-24 <sup>7</sup>&frasl;<sub>8</sub></td>
            <td>62-63</td>
          </tr>
          <tr>
            <td>3X</td>
            <td>8 <sup>1</sup>&frasl;<sub>8</sub></td>
            <td>25-25 <sup>5</sup>&frasl;<sub>8</sub></td>
            <td>64-65</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="size-note">
      <p>Sizes are approximate and will vary with hat style and material. If unsure about which size to choose, it's best to choose a larger size, as our sizing system can adjust the hat down to one full size smaller.</p>
    </div>
    <!-- Sizing video Code -->
    <h2 style="text-align: center">Fitted hat size chart</h2>
    <div style="padding:52.73% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/431963427?h=40da9ad468&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Measuring your head before you order."></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <h1 style="margin-top: 10px">Hat Size Chart | How to Measure Hat Size</h1>
    <p>There's something about a stylish hat that fits someone's head perfectly that speaks volumes about a person's style and confidence.</p>
    <p>However, most high-quality hats come in specific sizes, and it can be challenging to know which size is best for your head.</p>
    <p>We put together this guide to teach you how to <strong>measure your head correctly</strong> and other tips to help you find the <strong>perfect style and size hat</strong> for your head.</p>
    <h2>How to Measure Your Head Size</h2>
    <p>A large part of finding the <a href="https://americanhatmakers.com" target="_blank" rel="nofollow">perfect hat</a> is finding a hat that fits your head perfectly. A hat that fits properly can enhance the features of your face and compliment any outfit.</p>
    <p>However, an ill-fitting hat might only make it out of your closet sometimes. The best-looking hat in the world can't be worn and enjoyed <strong>if it doesn't fit you properly</strong> and it slides all over your face.</p>
    <p>Before buying a hat, you must measure the size of your head first. Unfortunately, even many hats labeled as one-size-fits-all don't always fit everyone. Hence, getting an accurate measure of your head first is essential, and then referring to the size chart below.</p>
    <h3>Steps for Measuring Your Head</h3>
    <p>You'll need a measuring tape or a long piece of string and a ruler to start. Then follow <strong>these three easy steps:</strong></p>
    <ol type="1">
      <li>Use the tape measure or piece of string to measure the circumference of your head by placing it just about an inch above your ears.</li>
      <li>If you're using a tape measure, record the measurement in inches and centimeters onto a piece of paper. If you're using a string, place the piece of string and measure it using your ruler, then record those measurements.</li>
      <li>Take the measurements and then compare them to the hat sizing chart of the manufacturer. We've added the one from American Hat Makers below for your reference.</li>
    </ol>
    <div class="size-guide-table" id="size-guide-2"></div>
    <h3>Tips for Measuring Your Hat Size</h3>
    <p>It's not difficult to measure yourself to get your hat size, but you must do it correctly for your hat to fit properly.</p>
    <p>Here are some additional tips to help guide you through the process.</p>
    <h4>Expect Differences in Sizes From Manufacturer to Manufacturer</h4>
    <p>While there is an industry standard for the size of hats, every manufacturer <strong>makes every hat in their own way</strong>, which can lead to slight variations in sizes.</p>
    <p>These variations are why it's critical to get an accurate measurement of your head and then match it to the correct size on their specific size chart.</p>
    <h4>Measure Twice, Order Once</h4>
    <p>Use the same mantra carpenters use and <strong>measure twice before placing your order.</strong> Take your first measurement, record it in inches and centimeters, wait a few minutes and do it again.</p>
    <p>Or, have someone else take a second measurement for you. Then, if the numbers don't match, take a third measurement to verify which is correct.</p>
    <p>It's better to measure several times than order the wrong-sized hat.</p>
    <h4>Don't Pull the String/Measuring Tape Too Tightly</h4>
    <p>It might be tempting to pull too tightly to pull the measuring tape or string too tightly to get a measurement for a snug fit. Instead, pull the string or measuring tape so it's as tight <strong>as you'd want the hat to feel on your head.</strong></p>
    <p>It's also important to remember that some hats should fit more loosely than others, so think about the <a href="https://americanhatmakers.com/collections/mens-hats" target="_blank" rel="nofollow">style of hat</a> that you're looking at and how that should rest on your head.</p>
    <h4>When In Doubt, Go Up a Size</h4>
    <p>What do you do if you measure your head and your measurement comes up in-between sizes?</p>
    <p>Because sizes are approximate and will vary with the style of the hat and the material it's made from, it's best to <strong>choose a larger than a smaller one.</strong></p>
    <h2>Find the Right Hat Style for the Shape of Your Face</h2>
    <p>While it's essential to find the hat that fits your head, it's also important to look for one that accentuates the shape of your face.</p>
    <p>Here are some recommendations for finding the <strong>right hat style for the shape of your face:</strong></p>
    <ul>
      <li>If you have a diamond-shaped face, look for <a href="https://americanhatmakers.com/collections/womens-hats" target="_blank" rel="nofollow">hat styles</a> that sit on the back of the head.</li>
      <li>If you have a round face, look for hats with angled elements that reveal your face.</li>
      <li>If you have a long face, look for wide-brim hats and brims that bisect the forehead.</li>
      <li>Look for hats with a broader crown if you have a heart-shaped face.</li>
      <li>Straight brims and floppy hats can be flattering if you have a square-shaped face.</li>
    </ul>
    <p>However, these are only suggestions, not rules, so what's important is finding the hat that looks and feels like it was made specifically for you.</p>
    <h2>Measure Your Head Properly to Find the Perfect Fitting Hat</h2>
    <p>It doesn't take a lot of time or tools to measure your head correctly so you can find the perfect fitting hat for your head.</p>
    <p>It only takes a measuring tape or some string and a ruler. Pull it snugly around your head about an inch above the ears. Of course, it's always a good idea to take a second measurement to confirm the first one.</p>
    <p>Hat sizes differ from manufacturer to manufacturer, style to style, and according to the materials they are made with. If you're in between sizes, it's typically a good idea to go up a size. However, many hats, like those from <a href="https://americanhatmakers.com/collections/closeout-hats" target="_blank" rel="nofollow">American Hat Makers</a>, can be adjusted down a full size.</p>
    <p>Finding the right hat for your face shape is also essential, but what's more important is you pick the <strong>style of hat that fits you so that you can wear it confidently.</strong></p>
  </div>
</section>

<script>
  const originalChart = document.getElementById("size-guide-1");
  const duplicateChart = originalChart.cloneNode(true);
  document.getElementById("size-guide-2").appendChild(duplicateChart);
</script>

<style>
  .size-guide{
    padding: 50px 0;
  }
  body#hat-sizing-guide-for-american-hat-makers .layout-content-wrapper .row.justify-content-center {
    display: none;
  }
  .size-title h2 {
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.0625;
    text-align: center;
  }
  .size-guide-table table{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
    width: 100%;
    margin-bottom: 25px;
  }
  .size-guide-table table thead tr th {
    background-color: #B1193C;
    border-radius: 50px;
    padding: 10px;
    min-width: 250px;
    text-align: center;
    color: #fff;
  }
  .size-guide-table table thead tr th span {
    width: 100%;
    display: inline-block;
  }
  .size-guide-table table tbody tr {
    background-color: #F6EFEF;
  }
  .size-guide-table table tbody tr td{
    text-align: center;
    padding: 5px;
    border-radius: 50px;
    font-weight: 600;
  }
  .size-guide-table table tbody tr:nth-child(even) {
    background-color: #F2E0DD;
  }
  .size-note p {
    font-size: 16px;
    color: #000;
  }
  .size-guide .size-note {
    padding: 0 15px;
  }
  @media screen and (max-width: 1200px){
    .size-guide-table {
      overflow-x: scroll;
    }
  }
  @media screen and (max-width: 991px){
    .size-title h2{
      font-size: 30px;
    }
  }
  @media screen and (max-width: 575px){
    .size-guide-table table{
      border-spacing: 4px !important;
    }
    .size-guide-table table thead tr th{
      border-radius: 11px;
      padding: 10px 1px;
      min-width: 50px;
      font-size: 12px;
      line-height: 18px;
    }
    .size-guide-table table tbody tr td{
      padding: 8px;
      font-size: 12px;
    }
  }
</style>



{% section 'custom-fields-pages' %}
